<div class="row">
  <h3>Person : <%= @person %></h3>
</div>

<div class="row">
  <div class="col">
    <% # div class="tabbable" %>
      <%= bettertabs_bootstrap :person_tabs do |tab|
        tab.ajax :person,   locals: { person: @person }
        tab.ajax :events,   locals: { person: @person }
        tab.ajax :teams,    locals: { person: @person }
        tab.ajax :calls,    locals: { person: @person }
        tab.ajax :history,  locals: { person: @person }
      end
      %>
    </div>
  </div>
</div>
