<div class="container">
  <h1>Welcome to Landmark</h1>
  
  <h3>Welcome to our Course booking system</h3>
  
  <br>
  We have currently the following courses open for registration:
  
  <%= render 'events/event_list' %>

</div>