<div>
  
  <table class="table">
    <%# debugger %>
    <% object.each do |attendee| %>
      <tr>
        <td><%= attendee.person %></td>
        <td><%# attendee.role_type %></td>
        <td><%= link_to 'Show', assignment_path %></td>
        <td><%= link_to 'Edit', edit_assignment_path(attendee) %></td>
        <td><%= link_to 'Remove', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>      
    <% end %>
  </table>
  
  <%# link_to 'Assign to course', new_role_path(person: @person), {class: "btn btn-default"} %>
</div>  
