
<h1>List of Events</h1>

  <div class="row"><%= render 'event_search' %></div>
  <div class="row"><%= render 'event_list' %>  </div>

<br>

<div class="row">
  <%= link_to 'New Event', new_event_path %>
</div>
