<div class="container">
  <table class="table">
    <tbody>
      <% @rows.each do |row| %>
        <tr>          
          <td><%= "#{row}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>