<div class="container">
  <%= "#{@info}" %>
  <%  @info.import_step.each do |step| %>
    <%= "#{step}" %><br>"
    <% step.import_row.each do |row| %>
      <%= "#{row}" %>
    <% end %>
  <% end %>
</div>
