<div class="container">
  <table class="table">
    <tbody>
      <% @info.each do |info| %>
        <tr>          
          <td><%= "#{info}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>